*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    
    
    
}

.hero{
    height: 100vh;
    max-width: 100%;
    background-image: url(../images/background4.jpg);
    background-size: cover;
    background-position: center;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 5%;
    padding-right: 4%;
}

.logo{
    color: white ;
    font-size: 3em;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: transform .4s;
    animation: fadeIn;
    animation-duration: 2s;
}

.logo:hover{
    transform: scale(1.15);
}

span{
    color: rgb(50, 150, 65);
}

nav ul li{
    /* list-style-type: none; */
    display: inline;
    padding-left: 10px;
    padding-right: 25px;

}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    transition: transform .4s;
}

nav ul li a:hover{
    color:rgb(50, 150, 65);
    transform: scale(3);

}

.btn{
    background-color: rgb(50, 150, 65);
    color: white;
    border: 2px solid transparent;
    font-weight:bold ;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: transform .4s;
    text-align: center;
    width: 150px;
    cursor: pointer;
   

}

.btn:hover{
    transform: scale(1.2);
    
}

.content{
    /* color: white; */
    position: absolute;
    top: 40%;
    left:8%;
    text-decoration: none;
    /* transform: translateY(-50%); */
}

h1{
    color: white;
    font-size: 4em;
    margin-top: 3%;
    margin-bottom: 3%;
    cursor:crosshair;
    /* animation: zoomIn;
    animation-duration: 0.5s; */
    
}

h4{
    color: rgb(50, 150, 65);
    font-size: 1.5em;
    font-weight: bold;
    cursor:crosshair;
    animation: fadeInRight;
    animation-duration: 2s;
    animation-delay: 0.5s;
}

h3{
    color: white;
    font-size: 1.5em;
    margin-bottom: 5%;
    cursor:crosshair;    
}


.about{
    width: 100%;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 100px;
    padding-bottom: 80px;
    background-color:black;
    height: auto;
    overflow: auto;
    overflow-x:hidden;
    /* cursor: crosshair; */
    

}
.about img{
    height: 20%;
    width:30%;
    transition: transform .4s;
}
.about img:hover{
    /* animation: zoomIn;
    animation-duration: 3s; */
    transform: scale(1.2);
}
.about-text{
    width:40%;
    cursor: crosshair;
}
.main{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 3em;
    padding-bottom: 5%;
    
}

.about-text h5{
    color: rgb(50, 150, 65);
    letter-spacing: 2px;
    font-size: 1.5em;   
    padding-bottom: 5%;
}

.about-text p{
    /* color: rgb(64, 72, 57); */
    color: white;
    font-size: 1.2em;
    letter-spacing: 1px;
    line-height: 28px;
    
}

.service{
    padding-top: 4%;
    background-color:black;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5%;
}

.title h2{
    color: white;
    font-size: 3em;
    text-align: center;
    padding-bottom: 4%;
    cursor: default;
}

.box{
   display: flex;
   justify-content: space-around;
   align-items: center;
   min-height:400px; 
}

.card{
    /* height: 120%; */
    height: 365px;
    width: 335px;
    padding-top: 3%;
    padding-left: 1%;
    padding-right: 1%;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    
}

.card:hover{
    background-color: yellowgreen;
    transform: scale(1.2);
}

.card i{
    color: rgb(50, 150, 65);
    font-size: 3em;
}

.card h5{
    color: white;
    font-size: 1.5em;
}

.pra p{
    color: white;
    letter-spacing: 1px;
}

.contact-me{
    height: 70vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10%;

}

#new{
    color: white;
}

.details{

    height: 100px;
    width: 500px;
    background-color:rgb(50, 150, 65);
    align-items: center;
    position: relative;
    right: 7%;
    top: 10%;
    transition: transform .6s;
    
}

.details p{
    align-items: center;
    padding-top: 15px;
    padding-left: 100px;
    color: white;

}

.details:hover{
    background-color: red;
    transform: scale(1.3);
}

footer{
    position: relative;
    width: 100%;
    height:200px;
    background: rgb(50, 150, 65);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#footername{
    color: white;
    padding-bottom: 0.5%;
    font-size: 2em;
}

#logo{
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 0.5%;
}

.social{
    font-size: 2em;
    padding-bottom: 1%;
    transition: transform .6s;
}

.social:hover{
    transform: scale(1.2);
}
